---
import DefaultIslandLayout from "../layouts/DefaultIslandLayout.astro";
import {UpvoteContent} from "../components/UpvoteContent";
import UpvoteContentVue from "../components/UpvoteContentVue.vue";
---

<DefaultIslandLayout>
    <UpvoteContent client:load label="Click">
        <em slot="description">Counter with React</em>
        <ul slot="awesome-links">
            <li>Hello</li>
            <li>Bye</li>
        </ul>
        <div slot="child-component">
            <UpvoteContent client:idle/>
        </div>
    </UpvoteContent>
    <UpvoteContentVue client:load>
        <em slot="description">Counter with Vue</em>
        <ul slot="awesome-links">
            <li>Hello</li>
            <li>Bye</li>
        </ul>
    </UpvoteContentVue>
</DefaultIslandLayout>
